<div class="row">
  <div class="portlet portlet-boxed">
    <div class="portlet-header">
      <h4 class="portlet-title">
        Create new ticket
      </h4>
    </div>
    <div class="portlet-body">
      <form>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="creator">Created by:</label>
            <input value="Brecht Carlier" disabled type="text" class="form-control" id="creator">
          </div>

          <div class="form-group col-md-6">
            <label for="date">Date:</label>
            <input value="{{today| date:'dd/MM/yyyy'}}" disabled type="text" class="form-control" id="date">
          </div>
        </div>

        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="model.title" name="title" type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
          <label for="title">Type:</label>
          <select class="form-control" id="type">
            <option>TODO</option>
            <option>TODO #2</option>
          </select>
        </div>


        <div class="form-group">
          <label for="description">Description (TODO Markdown):</label>
          <textarea  [(ngModel)]="model.description" name="description" type="text" rows="10" class="form-control" id="description"></textarea>
        </div>


        <div class="form-group">
          <label>Priority:</label>
          <div class="radio">
              <label><input type="radio" [(ngModel)]="model.priorityId"  name="priority" value="{{priorityValues.lowest}}" />
                <b>Lowest:</b> Application or procedure is working fine, however their could be improvement (feedback)
              </label>
            </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="model.priorityId" name="priority" value="{{priorityValues.low}}" />
              <b>Low:</b> Application or personal procedure unusable, where a workaround is available or a repair is possible.
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="model.priorityId" name="priority" value="{{priorityValues.medium}}" />
              <b>Medium:</b> Non-critical function or procedure, unusable or hard to use having an operational impact, but with no direct impact on services availability.
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="model.priorityId" name="priority" value="{{priorityValues.high}}" />
              <b>High:</b> Critical functionality or network access interrupted, degraded or unusable, having a severe impact on services availability.
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" [(ngModel)]="model.priorityId" name="priority" value="{{priorityValues.highest}}" />
              <b>Highest:</b> Interruption making a critical functionality inaccessible or a complete network interruption causing a severe impact on services availability.
            </label>
          </div>
        </div>

        <button (click)="onSave()" type="submit" class="btn btn-primary col-sm-12">Create <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</div>

<div>
<h1>Debug:</h1>
{{model | json}}
</div>